.hidden {
  display: none;
}

.h1 {
  color: black;
}
.img-container {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  overflow: hidden;
  position: relative;
}
.contents-container {
  position: absolute;
  top: 0;
  left: 20px;
  color: beige;
}
